
.form-control{
  background-color: transparent;
  color: #d6d1d1;
      font-family: Quicksand;
}
label{
  color:#fff;
  margin-top: 10px;
  font-size:20px;
  font-family: 'Fredericka the Great', cursive;
}
.p-t-10{
  margin-top: 10px
}

.btn-primary{
  background-color: #cc5456;
    border-color: #cc5456;
margin-left:15px;
margin-top: 40px;
color:#fff !important;
    font-family: 'Yeseva One', cursive;
  }
